<!DOCTYPE html>
<html ng-app="restTestAPP">
    <head>
        <title>Test Your Rest API</title>
        <link rel="stylesheet" type="text/css" href="scripts/vendor//bootstrap/css/bootstrap.min.css"/>
        <script type="text/javascript" src="scripts/vendor/angular/angular.js"></script>
        <script type="text/javascript" src="scripts/app/app.js"></script>
        <script type="text/javascript" src="scripts/app/testRestCtrl.js"></script>

    </head>
    <body style="width: 640px;height:640px;margin-left:20px;height: 350px;margin-top:20px">
        <div ng-controller='testRestCtrl'>
            <form id='restTest' >
                <div class="form-group">
                    <input type='text' id='restUrl' ng-model='restUrl' class="form-control" placeholder="Enter Rest Url" required/>
                    <br/>
                    <label>
                        <input type="radio" ng-model="method.type" value="GET">
                        GET
                    </label><br/>
                    <label>
                        <input type="radio" ng-model="method.type" value="POST">
                        POST
                    </label><br/>
                    <label>
                        <input type="radio" ng-model="method.type" value="DELETE">
                        DELETE
                    </label><br/>
                    <label>
                        <input type="radio" ng-model="method.type" value="PUT">
                        PUT
                    </label><br/>
                </div>
                        <button ng-click='testRest()' >Submit</button>
                    <br/><br/>
                    <div>
                        Response from API <br/>
                        {{response}}
                    </div>
            </form>
        </div>



    </body>
</html>
